[2019-09-29 16:47] DyfanJones opened #1 "R function Documentation"

[2019-09-29 17:35] DyfanJones opened #2 "Create Unit Test"
RAthena unit tests will be a good starting point

[2019-09-29 22:46] DyfanJones opened #3 "add dplyr support"

[2019-10-01 08:43] DyfanJones commented on #2
Built unit tests:
- Athena DDL
- classes
- data transfer
- Disconnect
- Exist/ Remove
- Athena Metadata

# ===============
OK:       21
Failed:   0
Warnings: 0
Skipped:  0

[2019-10-01 08:43] #2 closed

[2019-10-01 14:35] DyfanJones commented on #3
added initial methods for dplyr:
- db_save_query
- db_compute
- db_copy_to
- db_desc

[2019-10-01 14:35] #3 closed

[2019-10-03 08:08] DyfanJones commented on #1
added readme documentation

[2019-10-06 11:29] DyfanJones commented on #1
Added package documentation site

[2019-10-11 12:04] #1 closed

[2019-10-11 12:08] DyfanJones opened #21 "Rhub window server error"
Currently Windows Server 2008 R2 SP1, R-devel, 32/64 bit is failing:

[code]

Issue raised to [rhub: #305](https://github.com/r-hub/rhub/issues/305)

[2019-10-13 10:36] DyfanJones commented on #21
Issue has been fixed on rhub

[2019-10-13 10:36] #21 closed

[2019-10-18 09:49] DyfanJones opened #24 "Passing credentails to aws objects"
The paws sdk has developed a method to pass credentials to aws objects. This method is preferred as it will enable multiple connections to different AWS accounts.

[2019-10-18 15:14] DyfanJones opened #25 "Fetching Data from Athena Speed test"
[code]

Data return size: **19 X 1,356,206**
Data memory size: **335.3 Mb**

[2019-10-18 15:20] DyfanJones commented on #25
## Method 1
   user  system elapsed
  8.757   0.352   4.110

## Method 2
   user  system elapsed
  7.028   0.614   2.515

[2019-10-19 12:17] DyfanJones commented on #25
[code]

[2019-10-20 11:39] DyfanJones commented on #25
When converting Binary to large vector there is a chance of `Error: vector memory exhausted (limit reached?)` Due to this using a `tempfile()` seems a more safe method.

[2019-10-20 13:09] DyfanJones commented on #25
For speed data.table will be adopted for the default read in method going forward

[2019-10-20 13:09] #25 closed

[2019-10-21 12:47] #24 closed

[2019-10-30 15:33] DyfanJones opened #31 "Compression GZIP when uploading files to Athena/S3"
Support GZIP compression:

https://docs.aws.amazon.com/athena/latest/ug/compression-formats.html

[2019-10-31 16:37] #31 closed, assigned to DyfanJones

[2019-11-05 20:06] DyfanJones opened #34 "waiting for rhub and community to resolve issue"
Currently waiting for [#310](https://github.com/r-hub/rhub/issues/310). This is getting resolved by the rhub team and the community. Once it has been fixed will run through rhub testing before releasing new features for `noctua` and `RAthena` on the cran

[2019-11-11 09:55] DyfanJones commented on #34
[code]

[2019-11-12 16:24] DyfanJones commented on #34
`RAthena` results from Rhubs:
── RAthena 1.4.0: OK

  Build ID:   RAthena_1.4.0.tar.gz-35d5a3ddcf344ff990b8602857f9e543
  Platform:   Windows Server 2008 R2 SP1, R-devel, 32/64 bit
  Submitted:  6m 41.4s ago
  Build time: 6m 34.8s

0 errors ✔ | 0 warnings ✔ | 0 notes ✔

[2019-11-13 10:45] DyfanJones commented on #34
noctua result from Rhubs:
[code]

[2019-11-13 10:46] DyfanJones commented on #34
Rhub error has been resolve

[2019-11-13 10:46] #34 closed

[2019-11-13 21:46] DyfanJones opened #36 "Ubuntu Linux 16.04 LTS, R-release, GCC Rhub Error"
uild ID: | noctua_1.2.0.tar.gz-a51a35c2ada44db7b831b7f50f5f0697
-- | --
Platform: | Ubuntu Linux 16.04 LTS, R-release, GCC
Submitted: | 12 minutes 12.5 seconds ago
Build time: | 12 minutes 11 seconds

`ERROR: dependency ‘openssl’ is not available for package ‘httr’`

[2019-11-14 23:59] #36 closed

[2019-11-16 14:36] DyfanJones opened #37 "Upload and register flat files into Athena enhancement"
The development of this will be covered by `RAthena` ticket: [#25](https://github.com/DyfanJones/RAthena/issues/25)

[2019-11-16 14:42] DyfanJones commented on #37
A few key differences to consider. The SDK `paws` package doesn't support upload_file function like `boto3`, this means the flat files will have to be first read into R and then uploaded. This can mean that reader functions for example from `readr` could be supported by added a parameter `FUN`. This means the user could possibly use their own reader function to read in the file before uploading it

[2019-11-16 14:43] DyfanJones opened #38 "Added snappy compression to parquet uploaded files"
Development of this will be tracked in `RAthena` ticket: [#26](https://github.com/DyfanJones/RAthena/issues/26)

[2019-11-17 18:24] DyfanJones commented on #38
dev version now supports snappy compression

[2019-11-17 18:24] #38 closed

[2019-12-18 09:06] DyfanJones opened #51 "List of Milestones"
# v-1.6.0

## New Features:

- [x] local caching of AWS Athena queries to reduce AWS Athena costs RAthena: [# 81](https://github.com/DyfanJones/RAthena/issues/81)

## Bug:

- [x] Region_name parameter not correctly being parsed in `dbConnect` #69

# v-1.5.1

## Bug:

- [x] sql-translate-env R functions `paste/paste0` defaulted to `concat_ws`
- [x] `data.table` due to `fwrite` supporting compressio

[2020-01-04 21:47] DyfanJones commented on #51
# list of extra mile stones
- [ ] Add support for `JSON` class in default parser
- [ ] Added a method to integrate into RStudio connection tab

[2020-01-16 18:32] ricardojcc opened #58 "Throttling Exception when trying to pull 62GBs of data from AWS Athena"
### Issue Description
Hi,

I have been trying to connect to Athena from Sagemaker. I have been successful, but in the case of slightly bigger data, when I run the following code:

install.packages('noctua')
install.packages('DBI')

con <- DBI::dbConnect(noctua::athena(),
                s3_staging_dir = "s3://aws-athena...",
                region_name = 'us-west-2')

res <- DBI::dbExecute(con, 'S

[2020-01-16 19:11] DyfanJones commented on #58
Hi Ricardo,

First off thanks for raising this issue, and I am more than happy to help and rectify this.

If it is ok with you can you do 2 things for me.

1) I want to rule out if it is a paws sdk issue: Can you try the same query with RAthena, and let me know if it can pull that data back for you.

2) I want to check if it is a sagemaker issue: Can you return something which is abit more sizeabl

[2020-01-16 19:21] DyfanJones commented on #58
In the mean time I believe this could be an issue with the poll rate. I will do some reading around AWS "Throttling – Maximum sending rate exceeded".

[2020-01-16 19:30] DyfanJones commented on #58
Ricardo,

Can you try the following query:

[code]

[2020-01-16 20:13] ricardojcc commented on #58
Hi Dyfan,

I tried with a sizable amount of data, around 20gb to start of, using noctua and setting the poll_interval = 1 and got the exception. I went back and did the same with RAthena, without the poll_interval argument and RAthena is returning the full query result. I also tried a slightly bigger data set, since this is just a project I'm working on at my job, and RAthena is doing the job.

[2020-01-16 20:25] DyfanJones commented on #58
Thanks,
I will investigate why there is an issue with `noctua` and will contact the `paws` developers to see if they know what could be the issue. In the mean time feel free to use `RAthena` if it is working for you :)

[2020-01-16 20:27] DyfanJones commented on #58
Can you share the connection information for me please using:

`dbGetInfo(con)`

I will try and replicate your issue

[2020-01-16 20:37] ricardojcc commented on #58
This is the info,

$profile_name
'default'
$s3_staging
's3://aws-athena-...-us-west-2/'
$dbms.name
'default'
$work_group
NULL
$poll_interval
1
$encryption_option
NULL
$kms_key
NULL
$expiration
NULL
$region_name
'us-west-2'
$paws
'0.1.6'
$noctua
'1.5.0'

This is what the function return. I know it does not really return useful info. I can't really disclose my staging dir  because of the nature of t

[2020-01-16 20:45] DyfanJones commented on #58
Don't worry about the specific s3 bucket, I can utilise my own one for testing. I am just checking the paws version and if any system variables are being used in the connection parameters. I believe it could be poll issue and increasing it might resolve this issue however I need to do more research around this error to double check. Plus there be a way paws is calling aws that needs to take into a

[2020-01-16 21:10] DyfanJones commented on #58
Ricardo,

Can you let me know at what point does the error happen. Does the error happen on the `dbExecute` or the `dbFetch`?

If possible can you split these two code and execute them independently.

[2020-01-16 21:30] ricardojcc commented on #58
Thanks Dyfan. The error occurs on dbExecute. RAthena is working great!

[2020-01-16 21:47] DyfanJones commented on #58
Perfect, that means it is a polling issue

[2020-01-25 13:20] DyfanJones commented on #58
I am not getting aws error: `ThrottlingException: Rate exceeded` when I test with nyc taxi data 2018: 01-06 data size of 53,925,735 x 11 (7 GB) however I did get and R error with `writeBin`.

This is due to: `Only 2^31 - 1 bytes can be written in a single call (and that is the maximum capacity of a raw vector on 32-bit platforms).`

Will modify the `dbFetch` to read binary stream in chunks and tes

[2020-01-25 15:21] DyfanJones commented on #58
Will increase data size to test if new implementation resolves issue.

[2020-01-28 21:29] DyfanJones commented on #58
@ricardojcc does PR #62 fixed your issue? The backend has been updated. If you still get the issue please let me know

[2020-01-30 12:24] DyfanJones commented on #58
Used 2018 yellow taxi data from: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
data size: ~ 14.8 Gb
nrows: 102,804,250
ncolumns: 17

Used `gzip` compression to reduce cost in this test.
[code]

It is reassuring to see that the compression method has reduced the data from 14.8Gb to 1.68GB. @ricardojcc can you try the same data set to see if it is an account issue?

I am going to clo

[2020-01-30 12:24] #58 closed

[2020-02-06 10:25] OssiLehtinen opened #64 "dbplyr's tbl() function queries Athena for the fields. Querying Glue would be more efficient."
### Issue Description

When 'connecting' to a table with dplyr's tbl()-function, a query is sent to Athena with a 'WHERE 0 == 1' clause for getting the column names. This query is generated by db_query_fields.DBIconnection.

The thing is, querying Athena can be slow at times and a much faster response could be gotten from Glue.

This, however works only if a direct connection to a table is made, l

[2020-02-06 12:54] DyfanJones commented on #64
@OssiLehtinen This looks really good, I will review the code to double check, but I am keen to get it in. I am happy you like `noctua` as well, I am planning to keep both `RAthena` and `noctua` up to date and at the same level. So hopefully it will feel seamless between using one or the other.

[2020-02-06 14:50] DyfanJones commented on #64
Speed test:

[code]

The speed increase is really good and makes it alot more user interactive.

[2020-02-06 14:59] DyfanJones commented on #64
Due to the speed increase I think the documentation will have to be updated to advise users to use the new method as much as possible if they can

[2020-02-06 16:18] DyfanJones commented on #64
@OssiLehtinen  coming across cran check:

  Found the following file with non-ASCII characters:
    dplyr_integration.R
  Portable packages must use only ASCII characters in their R code,
  except perhaps in comments.
  Use \uxxxx escapes for other characters.

I believe it relates to:
`grepl('^"?[a-å]+"?\\.?"?[a-å]+"?$', trimws(tolower(sql)))`

Do you have a possible solution for this?

[2020-02-06 16:48] DyfanJones commented on #64
@OssiLehtinen don't worry I have modified the code not to look if it is a sub query but to check if the class is "ident" or not:

[code]

This will give the same results :) so all good

[2020-02-06 16:49] OssiLehtinen commented on #64
The speed up is great!

And yes, the 'å's are surely the culprit for the cran error. I included those in the range from purely Scandinavic reasoning, but now that I think of it, that regex is not optimal in any case:
One could limit the letter range to a-z, but the bigger problem are numbers, underscores etc. I'm on my mobile at the moment so can't test it right now, but [a-z1-9_] could do the tri

[2020-02-06 17:35] OssiLehtinen commented on #64
This statement seems to do the trick in my tests (the \p{L} should match any unicode character):

`is_direct <- grepl('^"?[\\p{L}0-9_]+"?\\.?"?[\\p{L}0-9_]+"?$', trimws(tolower(sql)), perl = T)`

https://docs.aws.amazon.com/athena/latest/ug/tables-databases-columns-names.html

[2020-02-06 18:56] OssiLehtinen commented on #64
Ah, you seem to have found a more elegant solution with inherits, right? That's great, as the regex solution is pretty kludgey.

[2020-02-07 05:06] OssiLehtinen commented on #64
Just to confirm, the `ident` solution works well in my tests too.

[2020-02-07 05:17] OssiLehtinen commented on #64
Haha, I somehow managed to miss your latest message about the inherits solution earlier and noticed the solution only after looking at your pull request (and after posting about my regex-improvement etc.). Well, at least I got some practice on regex...

[2020-02-07 12:00] OssiLehtinen commented on #64
One more glitch came up!

With the current version, partition names will be missed from the list of names returned.

The following snippet will also fetch the partitionnames if they exist:

[code]

[2020-02-07 12:01] OssiLehtinen commented on #64
Btw, should something similar be done in dbListFields also?

[2020-02-07 12:48] DyfanJones commented on #64
The partition is for the `db_query_fields`?

[2020-02-07 13:00] DyfanJones commented on #64
ah I see what you mean, good spot

[2020-02-07 13:12] DyfanJones commented on #64
i am guessing you are using the if statement due to the nature of what is returned in `sapply` from the partition call. To over come this `vapply` can be used instead with expected values to be returned:

`vapply(output$PartitionKeys,function(y) y$Name, FUN.VALUE = character(1))`

This will make the following:

[code]

Yes `dbListFields` should have this as currently it will be missing partition c

[2020-02-07 18:39] DyfanJones commented on #64
This issue persisted in the RStudio connection tab view. PR #65 fixes this issue.

[2020-02-08 12:40] DyfanJones commented on #64
PR #65 passed unit tests. If this issue persists please re-open or open another one

[2020-02-08 12:40] #64 closed

[2020-02-12 16:58] ricardojcc commented on #58
Hey @DyfanJones  I apologize for the late reply. Yeah everything's working like a charm. Thanks man!

[2020-02-16 23:00] DyfanJones commented on #58
These changes have now been pushed the cran

[2020-02-16 23:10] DyfanJones commented on #51
version 1.5.1 has now been pushed to the cran

[2020-02-20 11:24] DyfanJones opened #67 "Improve dbWriteTable documentation for s3 file path creation"
Several users have reached out with some confusion around how the s3 file path is created in the backend. To minimise this confuse the documentation should be more open and let users know exactly what is going on with the s3 backend.

[2020-02-21 13:36] DyfanJones commented on #67
PR #68 has now been merged. If the documentation still needs updating please re-open this ticket with details of what is missing.

[2020-02-21 13:36] #67 closed

[2020-02-25 17:21] ricardojcc opened #69 "Connecting from noctua in a local R-Studio session throws 'no region provided error'"
Hey Dyfan,

I apologize for coming over here with yet another issue.

  ### Issue Description
dbConnect() returns the following error:
Error in get_region(cfgs$credentials$profile) : No region provided

  ### Reproducible Example
library(noctua)
library(DBI)

con <- dbConnect(noctua::athena(),
                 aws_access_key_id='MyAccessKey',
                 aws_secret_access_key='MyAccessKey',

[2020-02-25 18:15] DyfanJones commented on #69
Apologies about this. I will look into it now

[2020-02-25 18:25] DyfanJones commented on #69
@ricardojcc in the mean time please set the region name in the environmental variable "AWS_REGION". This should work until I have fixed the package.

[2020-02-25 21:06] ricardojcc commented on #69
Will do. Thanks @DyfanJones

[2020-02-25 23:05] DyfanJones commented on #69
@ricardojcc PR#70 fixes this issue. Thanks for point it out to me. It was a bigger problem than I realised.  Will create unit test before merging.

[2020-02-26 09:31] DyfanJones commented on #69
PR #70 passed unit tests and passes region correctly. If this issue persists please reopen this issue

[2020-02-26 09:31] #69 closed

[2020-03-19 00:00] DyfanJones opened #79 "dbWriteTable should support a retry functionality"
It appears that some users are coming into an issue of throttling errors. A user has found a possible solution https://community.rstudio.com/t/use-exponential-back-off-with-dbi/56870. To make it easier for users this solution should be inbuilt into the package.

[2020-03-19 12:39] DyfanJones commented on #79
As unit tests aren't coming across this issue. I will have to ask for help from the author of the RStudio ticket:  https://community.rstudio.com/t/use-exponential-back-off-with-dbi/56870

[2020-03-26 00:16] DyfanJones opened #81 "dbWriteTable doesn't seem to be fully repairing the table"
A user on Rstudio community is experiencing issues were `dbWriteTable` isn't repairing the table once data has been updated to AWS Athena [link](https://community.rstudio.com/t/how-to-get-hive-to-recognise-new-partitions-created-with-noctua-and-dbwritetable/58103).

This could be down to `dbExecute` not fully  reporting errors from `AWS Athena` and not notifying user the repair has failed.

Might

[2020-03-26 14:40] DyfanJones commented on #81
Closing Ticket as `MSCK REPAIR` was performed on `AWS Athena`, however user was using `HIVE` and `Hive Metadata Store` wasn't updated. As `noctua` doesn't connect to `Hive`, user has been given advice in how to tackle issue going forward.

**Note:** re-open if solution for user doesn't resolve issue

[2020-03-26 14:40] #81 closed

[2020-03-31 10:36] DyfanJones commented on #79
The new retry functionality using exponential back off seems to have fixed issues highlighted by Rstudio community ticket. Will close this ticket.

If issue hasn't been resolved please reopen this ticket.

[2020-03-31 10:36] #79 closed

[2020-03-31 10:57] DyfanJones opened #84 "Support other DDL Json formats"
Rstudio issue was raised around how json ddl's are created for AWS Athena:

- The confusion in how the DDL is created and what row format is accepted. This will mean an update to documentation is required.

- Can other json ddl formats be support with json line?

[2020-03-31 15:11] DyfanJones commented on #84
Linking RStudio issue: https://community.rstudio.com/t/trying-to-get-athena-to-recognise-json-with-noctua-file-type/58971

[2020-04-01 08:14] DyfanJones commented on #84
PR #85 adds support to appending to both JSON SerDe Libraries.

[2020-04-01 08:14] #84 closed

[2020-04-23 14:42] mraess opened #90 "dbConnect and noctua::athena() only pulls in default profile"
### Issue Description
  ```r noctua::athena()``` does connect to database BUT only to the database with the default profile in the aws .config/.credentials files.

When I run this
[code]
or

[code]
  It does connect to the correct AWS database under the ```default``` profile in the aws .config/.credentials file and I'm able to run queries against it.

<details>
<summary>Output from ```dbGetInfo(co

[2020-04-23 15:44] DyfanJones commented on #90
Hi @mraess ,

This behaviour is correct. `profile_name` doesn't affect the schema/database you are connecting to. The `profile_name` basically passes your credentials safely to the SDK so you can make the connection. So in affect you will be connecting as different users with each profile_name depending on the credentials.

What I think you want to do is change the default `schema` when you make t

[2020-04-23 15:55] DyfanJones commented on #90
When you make a connection and you have multiple schemas in your Athena instance you can still query them for example:

[code]
The benefit of setting the `schema_name` in the connection is when you use `dplyr` for example:

[code]

However this still can be achieved with `dbplyr::in_schema()`

[code]

I hope this has helped with your initial query. I will leave this open just incase I miss underst

[2020-04-23 15:56] mraess commented on #90
Hey, Thanks for the quick answer - I'll certainly give this a shot. One question though, wouldn't the different s3 staging directories determine which database it connects to? And how does it know what the standard database is, which I'm connecting to right now?

[2020-04-23 16:14] DyfanJones commented on #90
`s3_staging_dir` is the s3 bucket that AWS Athena outputs it's results into. What `noctua` does it gets those results and returns them to R. By default `noctua` cleans up after each query to keep your S3 buckets tidy. However you can turn that off by activating the caching feature: [AWS Athena Query Caching](https://dyfanjones.github.io/noctua/articles/aws_athena_query_caching.html)

By default `s

[2020-04-23 16:17] mraess commented on #90
Haha, sounds good - I just might have to hard-code the ```schema_name```. To clarify, this should work even if ```dev-a``` and ```prod-a``` are different databases with their own ```schemas.tables```, correct?

[2020-04-23 16:22] DyfanJones commented on #90
It should be able to query across schema's so for example:

[code]

[2020-04-23 18:10] mraess commented on #90
Thanks for the quick replies!! I'll check this out for sure. Thanks also for keeping the issue open for now!

[2020-04-23 18:58] mraess commented on #90
Hey, so I implemented your suggestions - unfortunately to no avail. I have been able to narrow the problem down some more though.

A little more context: both ```dev-a``` and ```prod-a``` are in two completely different AWS accounts.

When I replace the key/secret for ```dev-a``` in  the ```default``` profile in ```.credentials```  with a key/secret pair for ```prod-a```, it **does** connect to ``

[2020-04-23 19:22] DyfanJones commented on #90
Will have a little look tomorrow :)

[2020-04-23 19:28] mraess commented on #90
Awesome, thanks!!

[2020-04-24 11:08] DyfanJones commented on #90
I am just a little confused with what is going on, sorry. Do you mind running through with me again so I have it straight in my head :)

**Please correct me if I have miss understood**

- The `default` profile connects to the `dev` AWS Account where you want to connect to `dev-a` database.
- The `other-profile-that-is-not-default` profile connects to `prod` AWS account where you want to connect to

[2020-04-24 15:11] mraess commented on #90
Hey, thanks for following up. I'm happy to provide some more details. Yes, I tried the code at the bottom but that did not work.

For context, assume that ```dev-a``` and ```prod-a``` are completely different AWS accounts (which they are) like from two different customers. Under each of these accounts, there are several schemas with one ore more tables.

However, I tried to narrow the use case dow

[2020-04-24 16:17] DyfanJones commented on #90
Ah ok cool, just had a little look and the profile not being passed correctly looks like it was a known issue with the `paws` sdk which has been fixed with the dev version of `paws.common`

https://github.com/paws-r/paws/pull/283

`remotes::install_github("paws-r/paws/paws.common")`

From a quick test this fixes apart of your issue but I don't know if it will fix the second part.

For the STS what

[2020-04-24 17:11] pmarkert commented on #90
For the STS use-case, we are using a SAML provider in conjunction with sts assume-role-with-saml in order to establish the temporary STS session. STS generates temporary AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, and AWS_SECURITY_TOKEN values that can be stored in the ~/.aws/credentials and then used with standard SDK tools to call AWS services. Once the session is established, it works like any ot

[2020-04-24 17:30] DyfanJones commented on #90
@pmarkert Thanks for the for the extra information. I will need to create a branch that gives more explicit support for SAML connection methods similar to [assume_role()](https://dyfanjones.github.io/noctua/reference/assume_role.html). I will need to do a little extra reading so I know how to set up my own aws account with saml connection method so i can add some unit tests around this :)

[2020-04-24 17:37] mraess commented on #90
@DyfanJones thanks a lot!!

[2020-04-24 17:48] DyfanJones commented on #90
@mraess i will create a initial pull request is it possible for you to test? I currently don't know how to set up my aws account for saml connections. This would be a massive help :)

[2020-04-24 17:57] pmarkert commented on #90
Actually, it looks like this second issue is also related to that underlying driver library. https://github.com/paws-r/paws/issues/280 describes exactly the problem. From your code, you are already passing the aws_session_token through any time the access_key is referenced, which would be all you need to do to ensure the proper support, so I don't know that you need to setup any SAML or role integ

[2020-04-24 18:07] DyfanJones commented on #90
@pmarkert Thanks for finding that out. @mraess  are you able to trying this out with the dev version of `paws.common`?

`remotes::install_github("paws-r/paws/paws.common")`

[2020-04-24 18:09] mraess commented on #90
@DyfanJones yes, I'll get on that later today or early next week and let you know how it goes :)

[2020-04-24 18:13] DyfanJones commented on #90
I am getting the package ready for the next release which comes with retry functionality, `dbFetch` can return data in chunk when `n != -1` and simple wrapper for converting backend s3 files. If you come into any more issue I would like to capture them in this release so that it is all live on the cran :)

[2020-04-24 18:16] mraess commented on #90
@DyfanJones Sounds great!

[2020-04-24 18:37] pmarkert commented on #90
I was able to test with the updated paws library and it looks like it is working to me, both parts reading from a named profile and picking up the STS session. Thanks!

[2020-04-24 18:42] DyfanJones commented on #90
Thanks @pmarkert for testing. I will close this ticket. If this issue  crops up again please re-open. Or open up another ticket :)

[2020-04-24 18:42] #90 closed

[2020-04-28 10:51] DyfanJones opened #91 "noctua 1.7.0 cran submission delay"
Similar to RAthena, noctua next release will be slightly delayed due to changes in `\donttest`.

Please see https://github.com/DyfanJones/RAthena/issues/108 for full details

[2020-05-01 11:41] DyfanJones commented on #91
This issue has been fixed in PR #92

[2020-05-01 11:41] #91 closed

[2020-05-01 11:43] DyfanJones opened #93 "Rhub Check Error"
Currently `RAthena` and `noctua` are having issues with rhub checks. Please see https://github.com/DyfanJones/RAthena/issues/111 for more information

[2020-05-04 10:38] #51 closed

[2020-05-05 07:47] DyfanJones opened #94 "Release Date v-1.7.0"
The next release is planned for the 14/05/2020. This is to prevent the package being release too frequently to the cran.

If the new features are required before the planned release please let me know and the release date can be changed.

[2020-05-06 09:48] DyfanJones commented on #93
rhub suggested fix:
[code]

[2020-05-06 09:48] #93 closed

[2020-05-14 14:54] DyfanJones commented on #94
`noctua-1.7.0` has been sent to cran for review before being released.

[2020-05-14 18:17] DyfanJones commented on #94
`noctua-1.7.0` has been released on the cran

[2020-05-14 18:17] #94 closed

[2020-06-12 19:25] mraess opened #96 "Weird query behavior: Successful query with HTTP 403 AccessDenied error"
### Issue Description

I don't know if you remember, but not to long ago we discovered an issue in paws.common together and in an issue that had to do with pulling in profiles into the `profile` parameter into `dbConnect()`. Everything works fine even with AWS_PROFILE as env variables. I've been working with the updated packages and a new error prevents me from running a script on the server.

Whe

[2020-06-12 20:04] DyfanJones commented on #96
Hi @mraess yes I know what is happening :) It is nothing to be worries about.

`noctua` tries to keep the `s3_staging_dir` "tidy". The way it does this, is it tries to delete the AWS Athena Query output. However if the user doesn't have permission to do this, it returns the error as a warning so that it doesn't prevent the user using AWS Athena.

If you don't like the warning message all the time.

[2020-06-12 20:06] DyfanJones commented on #96
Please let me know if this resolves you issue.

P.s. thanks of such detailed ticket :D it was a great help understanding what was going on :D

[2020-06-12 20:07] DyfanJones commented on #96
Just thinking out loud, this behaviour should really be documented

[2020-06-15 13:36] mraess commented on #96
Hey @DyfanJones , Thanks for the swift response as always! I'll definitely give this a shot today to see if that resolves the issue and then I'll follow up with you.

[2020-06-15 15:12] mraess commented on #96
@DyfanJones that did the trick! It's working now locally and on the server. We can close this out. Thanks for putting it into the documentation!

[2020-06-15 15:19] DyfanJones commented on #96
@mraess That is perfect. I will leave this open for the time being so I can get some time to add the documentation

[2020-06-16 15:41] DyfanJones commented on #96
closing ticket as PR #97 has been merged

[2020-06-16 15:41] #96 closed

[2020-08-24 17:25] chrissuh17 opened #102 "dbGetQuery unavailable for noctua::athena"
Hello Dyfan,

I raised this question on stackoverflow.com as @datascientist2117; thank you for your response.

Here is the code I currently have.

[code]
All code above is exactly the same except for the omitted values in S3OutPutLocation, AwsRegion, and Schema.

I am currently using Simba Athena ODBC Driver Version 1.1.2

I hope this information is sufficient; please let me know if there is anyth

[2020-08-24 17:36] DyfanJones commented on #102
Hi @chrissuh17 perfect :) I know the issue now :D Both `RAthena` and `noctua` create the class `AthenaConnection` however they work slightly differently under the hood. `RAthena` uses `python's` `boto3` and `noctua` uses `R's` `paws`.

So what is happening is R is getting confused what class to use. So if you remove `RAthena` from your loaded packages `noctua` should would for example:

[code]

[2020-08-24 18:22] chrissuh17 commented on #102
It's working now! Thank you very much for your help.

[2020-08-24 18:26] DyfanJones commented on #102
Happy to help, I hope you enjoy using the package. Please feel free to raise any feature requests :)

Will close this ticket now :)

[2020-08-24 18:26] #102 closed

[2020-09-01 16:08] chrissuh17 opened #103 "Unable to install Noctua on EC2 instance"
Hello Dyfan,

I am running RStudio on an Amazon Linux EC2 instance, and I am getting this error message when attempting to install the ```noctua``` package.

I am currently running this analysis through this link (http://localhost:8787/).

[code]
[code]

My apologies for the long error message; I wanted to provide as much context as possible.

I am fairly new to the tech industry and am wondering

[2020-09-01 16:21] DyfanJones commented on #103
Hi @chrissuh17,

It looks like you don't have  openssl, libcurl, libxml-2.0 installed. These are required for the dependent package [paws](https://github.com/paws-r/paws#installation)

[code]

You should be able to install them with the following command (note this command is to be ran on the terminal and not from R):

[code]
If you are using docker for your ec2 please feel free to modify the Dock

[2020-09-01 16:32] chrissuh17 commented on #103
Thank you for your reply!

I tried the command ```[ec2-user@ip-172-31-59-68 ~]$ sudo yum install -y https://repo.ius.io/ius-release-el7.rpm \

And am now receiving this error from Terminal.
[code]
Would you have suggestions for this issue?

[2020-09-01 16:38] DyfanJones commented on #103
@chrissuh17

Did you edit fix this issue of install libcurl-devel libxml2-devel openssl-devel?

If so are you able to install `noctua`?

[2020-09-01 16:42] chrissuh17 commented on #103
I have just successfully installed ```noctua```!

Thank you so much for your help. This was invaluable.

[2020-09-01 16:52] DyfanJones commented on #103
No worries, glad I helped :D

[2020-09-01 16:52] #103 closed

[2020-09-21 19:04] magnussv opened #104 "Almost random: InvalidRequestException (HTTP 400). Idempotent parameters do not match / Could not find results"
Hello Dyfan,
Lately I had problems with `RAthena` so I turned to `noctua` instead and I noticed some peculiar, almost random, issues.

  ### Issue Description
When running the code below then I usually get `Error: InvalidRequestException (HTTP 400). Idempotent parameters do not match` or sometimes `Error: InvalidRequestException (HTTP 400). Could not find results` _HOWEVER_ about 1 of 5 times I re

[2020-09-21 19:18] DyfanJones commented on #104
Hi @magnussv, really sorry to here that you are having issues with `RAthena` and `noctua` . This is the first time i have come across this type of error. But from a quick google it looks similar to this: https://github.com/ankane/blazer/issues/234 . I will have a look around to see if there is simple solution :)

[2020-09-21 19:40] magnussv commented on #104
Thanks @DyfanJones ! I found ankane/blazer#234 when I googled as well, so I tried to run many (new/different) queries but with the same type of result on all of them. I didn't fully understand that issue but the title said "does not allow you to run _same_ query multiple times". :-)

[2020-09-21 22:38] DyfanJones commented on #104
Hi @magnussv, i just want to check some details with you. Does mtcars exist in 2 schema's? For example `default.mtcars` and `adhoc.mtcars`?

[2020-09-21 22:46] DyfanJones commented on #104
Plus can you let me know how you connect to athena? I am wondering if there is a problem with the defualt schema. I.e

You connect to the default, but you are querying the adhoc schema for example.

[code]

[2020-09-21 23:00] DyfanJones commented on #104
This looks like a possible solution: https://paws-r.github.io/docs/athena/start_query_execution.html.

The parameter `ClientRequestToken` :
[code]
Could be the issue. I will need to read some boto3, documentation in how to handle this(any suggestions welcome).

In the meantime can you try caching: https://dyfanjones.github.io/noctua/articles/aws_athena_query_caching.html and let me know if this pe

[2020-09-22 10:44] DyfanJones commented on #104
From investigating further it looks like there are 2 possible issues going on here.

* `Error: InvalidRequestException (HTTP 400). Idempotent parameters do not match`: seems to be an issue with `start_query_execution` function. The authors of `paws` have done a great job in integrating R with AWS and usually the parameter `ClientRequestToken` doesn't need to be provided however for what ever reaso

[2020-09-22 11:05] DyfanJones commented on #104
Hi @magnussv can please try out the development branch "start_query_execution"

`remotes::install_github("dyfanjones/noctua", ref = "start_query_execution")`

Please let me know if the error continues to persist.

[2020-09-22 12:20] magnussv commented on #104
@DyfanJones thanks for your quick response. You find answers to your initial questions below.

 `mtcars` exist only in `adhoc`.  The `default` is empty. It seems like it doesn't matter which table I'm querying, I get the same issues independent of the table (even with tables with unique names across all databases).

I'm using credentials from a local ~/.aws/credentials with [`default]` profile; I

[2020-09-22 13:50] magnussv commented on #104
@DyfanJones I can confirm that this resolved the issues! I ran around 100 queries and all returned the expected result. Great! Thanks for the instant correction. :-) 👍

[2020-09-22 13:56] DyfanJones commented on #104
@magnussv oh brilliant. I didn't know what to do next if that failed 😆 I will merge the branch after I have tweaked the caching option to allow 100 distinct queries (thanks for point that out to me :D )

[2020-09-22 17:04] #104 closed

[2020-09-25 13:46] DyfanJones commented on #104
noctua_1.8.1 has been submitted to the cran.

[2020-09-27 16:00] OssiLehtinen opened #107 "Date time methods from dbplyr"
Hi @DyfanJones, I'm sure you're aware of this, but anyway, the funtions refrenced in https://github.com/DyfanJones/RAthena/issues/121 should be implemented in noctua too.

[2020-09-27 16:08] OssiLehtinen commented on #107
I can make a pull request tomorrow if that is helpful.

[2020-09-27 16:09] DyfanJones commented on #107
Hi @OssiLehtinen dont worry all functionality in RAthena will be built in `noctua` 😄 . I am currently running a PR for RAthena. Once that has passed all the unit tests I will create PR for `noctua`.

Unfortunately both packages have recently been released to the cran. So I will have to wait a little before releasing them again. I believe the rule of thumb is 1 month release intervals.

[2020-09-27 16:22] DyfanJones commented on #107
@OssiLehtinen more than happy if you wish to create the PR. My current thought process is: https://github.com/DyfanJones/RAthena/pull/122. Please let me know if you wish to replicate this for `noctua`

[2020-09-28 06:32] OssiLehtinen commented on #107
I'll make a PR shortly.

[2020-09-28 08:29] DyfanJones opened #109 "codecov dropped from 83% to 3%"
For some reason codecov has dropped from 83% to 3%. The code changes shouldn't of caused this issue. Plus it seems codecov isn't picking up new unit tests in https://github.com/DyfanJones/noctua/pull/108

[2020-10-01 10:45] DyfanJones commented on #107
Closing this issue. Thanks @OssiLehtinen for making your contribution and fixing this issue :D

[2020-10-01 10:45] #107 closed

[2020-10-02 14:42] DyfanJones opened #110 "noctua: data not shown in s3 if overwrite=TRUE, but shown if overwrite=FALSE and append=TRUE"
Hi Dyfan,

I am uploading data into s3 buckets and using for that purpose your package “noctua” -- which is great. But, there seems to be one thing I have come across which I have not yet managed after endless testing using this code snippet:

[code]

I am using this code in a loop. By doing so, I have noticed that for the first loop (r==1), the data can be queried in Athena but does not seem to b

[2020-10-05 13:18] DyfanJones opened #112 "should other file types be split by default: benchmark"
When uploading data frames to AWS Athena, noctua only split compressed delimited files due to https://github.com/DyfanJones/RAthena/issues/36 . Would other file.types benefit from similar file splitting?

[2020-10-05 13:37] DyfanJones commented on #112
These initial benchmarks where carried using dev branch "append-static-s3-dir" however previous version of noctua should be sufficient as this is benchmarking AWS Athena.
[code]

Benchmark code
[code]
![parquet_benchmarks](https://user-images.githubusercontent.com/23235152/95086247-28cc0180-0718-11eb-9dc8-953a5501787f.png)

From this initial benchmark it looks like splitting parquet does have its

[2020-10-05 13:42] DyfanJones commented on #112
Next steps for benchmarking:

- More complex sql queries
- AWS Athena tables with different column data types
- All the different file types `noctua` supports:
    - csv/tsv (uncompressed)
    - json
    - parquet (uncompressed)

[2020-10-05 13:45] DyfanJones commented on #109
PR https://github.com/DyfanJones/noctua/pull/111 codecov seems to be working. Will close this for now

[2020-10-05 13:45] #109 closed

[2020-10-05 14:24] DyfanJones commented on #112
Compressed Parquet group by:

**Note:** Data was taken from: https://github.com/DyfanJones/noctua/issues/112#issuecomment-703637550
[code]
![parquet_group_benchmarks](https://user-images.githubusercontent.com/23235152/95091779-c62a3400-071e-11eb-9930-72224b5f850f.png)

[2020-10-05 15:57] DyfanJones commented on #112
Compressed Parquet group by # 2:

Note: Data was taken from: #112 (comment)

[code]

![parquet_range_group_benchmark](https://user-images.githubusercontent.com/23235152/95102834-c7ae2900-072b-11eb-8b93-e5b79f933626.png)

[2020-10-20 08:32] DyfanJones commented on #110
This issue has been fixed through emails

[2020-10-20 08:32] #110 closed

[2020-11-05 15:04] OssiLehtinen opened #117 "dbplyr 2.0.0 breaks in_schema in Noctua"
Hi Dyfan,

a situation came up when upgrading to dbplyr 2.0.0:

In the new version, in_schema() returns an object of class "dbplyr_schema" (previously "ident"), and the database and table names are automatically quoted.

As an example:

dbplyr < 2.0.0:
[code]

dbplyr 2.0.0:
[code]

Consequently, in_schema does not work with noctua + dbplyr 2.0.0.

One workaround would be to use tbl(con, sql("datab

[2020-11-05 15:37] DyfanJones commented on #117
Thanks for highlighting this to me. I wasn't aware of the change to `in_schema`. To my knowledge `in_schema` is just a function and I won't be able to create a AthenaConnection method for it. However something like this should work:

[code]

[2020-11-05 16:37] OssiLehtinen commented on #117
Ah, that's right, I didn't realize the dbplyr_schema object offers those parts separately.

Great and fast work as always!

[2020-11-05 17:51] DyfanJones commented on #117
It looks like it is more complicated than I initially thought. It looks like dbplyr has renamed alot of backend functions from db_... to dbplyr_... .I will have to spend sometime investigating what has changed.

[2020-11-06 06:26] OssiLehtinen commented on #117
What do you think, will these renamings make it difficult to make things simultaneously compatible with the old and new dbplyr?

[2020-11-06 16:43] DyfanJones commented on #117
@OssiLehtinen from looking into the `dbplyr` version 2.0.0 package it actually looks like it calls the same `db_query_fields` function. This means `noctua` won't need to worry about changing back end functions from 1 version to the other. I have also managed to identify what is causing the issue.

When the parameter `sql` comes into `db_query_fields.AthenaConnection` it has already be parsed. Mean

[2020-11-06 20:20] DyfanJones commented on #117
@OssiLehtinen merged PR #118. Please update your `noctua` using:

[code]

I am planning to release these updates to the cran soon. However I would like include some improvements when uploading data to aws athena: https://github.com/DyfanJones/noctua/issues/112 (if you could provide any benchmarking that would be really appreciated).

[2020-11-12 11:54] OssiLehtinen commented on #117
Hi Dyfan, I'm sorry for leaving you hanging. It's just been impossible to find the time to help with the benchmarking.

[2020-11-16 13:50] DyfanJones opened #120 "Cran resubmission"
The latest `noctua` & `RAthena` releases caused an error in "CRAN Package Check Results for Package noctua"

![Screen Shot 2020-11-16 at 13 43 14pm](https://user-images.githubusercontent.com/23235152/99259373-cf281e00-2811-11eb-8eb0-e4db00a07e0d.png)

The error comes from the suggested package `arrow` failing to install:
`Error: write_parquet requires the arrow package, please install it first and

[2020-11-17 15:13] DyfanJones commented on #120
re-submitted noctua-1.9.1 with suggested package checks within unit tests

[2020-11-17 15:13] #120 closed

[2020-11-24 23:45] davidski opened #122 "Support for paws.common credential mechanisms"
Thanks for the very nifty package!

`paws.common` recently added support for `credential_process` in .aws/config files, allowing role assumption, nested profiles, and external credentials all to work seamlessly together. It looks like `noctua` constructs the config object itself rather than relying on paws, though I'm not clear on the full object model of paws. Is it practical for noctua to hand o

[2020-11-25 12:40] DyfanJones commented on #122
Hi @davidski,

The current implementation of `noctua` should be able to take full advantage of the recent updates that `paws.common` has to offer.

When building the config list for `paws`, `noctua` does the following rough steps:

- Check for Hardcoded credentials
- Check for environment variables
- if all fails leaves the rest to paws.common

The function `nocuta:::cred_set` simply builds the co

[2020-11-25 15:12] davidski commented on #122
Thanks for the quick response! This is a complicated workflow to explain and I appreciate the patience.

I do get different behavior with `noctua` (CRAN v1.9.1 - MacOS) as compared with `paws`. Here's a redacted configuration to demonstrate what works with the boto-powered CLI and, most recently, with `paws.common` but not with `noctua`.

`~/.aws/config`
[code]

The following works under `paws`. B

[2020-11-25 16:31] DyfanJones commented on #122
Hi @davidski,

From my testing I get the following error:
`Error in f() : No credentials provided`

From `paws` and `noctua`

[code]

[2020-11-25 16:36] DyfanJones commented on #122
**Update:**

This is very confusing. When I updated my `.aws/config` to point to the correct profile `noctua` and `paws` worked perfectly.

[code]

[code]

I will try to see if it works when I point it to a staging profile

[2020-11-25 16:42] DyfanJones commented on #122
When I create staging profile (demo_profile) `noctua` and `paws` seem to be working fine:

[code]

[code]

[2020-11-25 16:44] davidski commented on #122
Do you perhaps have an `~/.aws/credentials` file setup, with creds for the `default` profile? In my configuration, I do not use a `credentials` file at all. https://github.com/99designs/aws-vault stores credentials in my keychain and call STS for ephemeral credentials, which is what paws.common now supports.

[2020-11-25 17:38] DyfanJones commented on #122
Thanks @davidski for bring aws-vault to my attention it looks pretty awesome. From my testing, `noctua` should be able to support `paws` using aws-vault. Just created a video hope it helps to demonstrate `noctua` using `paws` new features :)

![2020-11-25-17-26-13](https://user-images.githubusercontent.com/23235152/100262597-42cdd780-2f44-11eb-926a-847a5760b0f3.gif)

[code]

[code]

[2020-11-25 18:46] davidski commented on #122
Awesome that it's working for you! Now I have to figure out what's different in my environment. ☹️ I'll see what I can mock up. You're not running any known non-CRAN builds on this stack are you?

[2020-11-25 18:57] davidski commented on #122
Oh my giddy.... Somewhere in my testing I fat fingered a profile name in my live configuration. With that fixed, everything works seamlessly. While I'm delighted that works, I'm very sorry to take up so much of your time for user error. I'll blame the US Thanksgiving holiday. 😉 Thanks again for the package and all the support. Really looking forward to putting this through it's paces!

[2020-11-25 18:57] #122 closed

[2020-11-25 19:00] DyfanJones commented on #122
@davidski no worries I am glad it's working for you. Plus I am happy you pointed me in the direction of `aws-vault`. Feel free to raise any future tickets.

[2020-12-01 11:54] DyfanJones opened #123 "Possible Better formatting for the return partitions of an AWS Athena table"
Please look at https://github.com/DyfanJones/RAthena/issues/129 for extra details.

[2020-12-16 18:27] DyfanJones commented on #123
PR #124  adds new format

[2020-12-16 18:27] #123 closed

[2020-12-22 10:34] OssiLehtinen opened #125 "A glue catalog table with a trailing '/' in the s3 path breaks dbRemoveTable"
Hi Dyfan, bumped into another bug.

If a glue table definition has a trailing '/' in the s3 path, dbRemoveTable doesn't work. (note, such a table definition is allowed in glue)

I think the reason is on this line and the pasting of the extra '/' at the end of the s3_path$key:
https://github.com/DyfanJones/noctua/blob/e3ce929e58d475f4f8953ef0d360015db10d2aa7/R/Connection.R#L608

For example, if we

[2020-12-22 11:08] DyfanJones commented on #125
@OssiLehtinen thanks for finding this out :)

I will have remove the extra '/'

Happy holidays to you as well 😄

[2020-12-22 11:34] DyfanJones commented on #125
Actually we need to be smart with this. By simply removing the extra "/" this will cause issues with tables with similar names for example:

[code]

[code]

This find the correct table "df_bigint" however it also returns "df_bigint2.txt" which could be another table

[2020-12-22 11:40] DyfanJones commented on #125
Possible solution would be to detect if key ends with "/" and if it has "." within string 🤔

[code]

[2020-12-22 12:49] OssiLehtinen commented on #125
Fast reaction from you as always!

We were also speculating about those extraneous matches without the trailing '/' with a colleague.

In principle, that is a symptom of a misspecified table in glue. In such a case you describe Athena would try to read data from both "default/df_bigint/46582453-e4db-4a2d-8787-4c1776b1c7b9.tsv" _and_ "default/df_bigint_2.txt", so in principle those _are_ data from

[2020-12-22 13:39] DyfanJones commented on #125
I'm not a 100% sure on that, we can test it anyway 😄 Lets upload another `df_bigint` table but call it `df_bigint2`

[code]

So in this example Athena has 2 tables within database "default", "df_bigint" and "df_bigint2". It appears AWS Athena can happily read from each table without getting confused by anything.

[code]

When removing the "/" at the end it looks like it brings back both "df_bigint

[2020-12-22 13:54] DyfanJones commented on #125
Update check mechanic:

[code]

Did a small check list to see if new check mechanic would work. It seems fairly reliable. Please feel free to critique 😄

[2020-12-22 14:13] OssiLehtinen commented on #125
You are probably right, but I'm a bit surprised.
Does the following command show a trailing '/' or not for your example table?
conn@ptr$glue$get_table(DatabaseName = "YOUR_DATABASE_HERE", Name = "df_bigint")$Table$StorageDescriptor$Location

Aside from that, probably just my inexperience with regex, but would a path with dots earlier cause problems there? Something like "filesfrom_11.03.20/datafil

[2020-12-22 14:57] DyfanJones commented on #125
Yeah my example doesn't have a "/" at the end of the key when calling glue:

[code]

AWS must do a transform in the background. From `noctua`'s side, we create the s3 locations following best practises from here: https://docs.aws.amazon.com/athena/latest/ug/tables-location-format.html

Yes a file path like `filesfrom_11.03.20/datafiles` would cause issues. The current proposed check wouldn't do an

[2020-12-22 15:05] OssiLehtinen commented on #125
Ah the best practices is a good guideline and making a disclaimer about dots in paths sounds good too.

[2020-12-22 17:41] DyfanJones commented on #125
closing this issue due to merging PR #126

[2020-12-22 17:41] #125 closed

[2021-01-18 20:31] michaelhogersnplm opened #128 "uuid library versioning"
First, noctua is excellent and very impressive!

Just a slight improvement, the DESCRIPTION file should be modified slightly to suggest or require that the uuid library is of version 0.1-4. Any earlier version of uuid does not allow the use of the **n** argument when using uuid::UUIDgenerate() and may cause noctua::dbWriteTable to fail.

Best regards,

Michael

[2021-01-19 01:50] DyfanJones commented on #128
Thanks @michaelhogersnplm i will add the versioning of uuid in the next release :)

[2021-01-19 15:14] #128 closed

[2021-01-19 17:00] DyfanJones opened #131 "Rhub check issue: pre-error build"
Currently pre-error with Rhub check.

https://builder.r-hub.io/status/noctua_1.10.0.tar.gz-f2324215e0b840b1ae002c4fead75766

[2021-01-20 12:20] DyfanJones commented on #131
This has now been fixed with rhub

[2021-01-20 12:20] #131 closed

[2021-01-24 19:13] davidski opened #132 "Timeouts when running with paws.database 0.1.10"
### Issue Description

Under `noctua` 1.10.0, going to `paws.database` 0.1.10 seems to cause curl timeouts when using the dplyr interface to queries.

  ### (Semi-)Reproducible Example

Generating a clean reprex is tricky, but I have a local query managed under `renv` that reliably replicates the problem. Here is a redacted query (hitting an Apache log store in parquet format) that demonstrates th

[2021-01-24 19:19] DyfanJones commented on #132
Hi @davidski thanks for letting me know. Does this error happen with the DBI interface? Or is it just the dplyr interface?

I will have a little look at paws.database to see what the change could be and how to fix it :)

[2021-01-24 21:15] davidski commented on #132
Thanks for the quick response! Yes, this problem occurs when making a DBI-style query as well. ☹️

[2021-01-25 09:29] DyfanJones commented on #132
@davidski how long did this query run before it timed out?

[2021-01-25 11:08] DyfanJones commented on #132
`noctua` utilises the services of aws athena, s3 and glue. This corresponds to `paws.analytics` and `paws.storage`.  To find out what is the most likely culprit of this error will break down the dbGetQuery call.

# dbGetQuery breakdown:

## dbGetQuery calls the following noctua methods:
- dbSendQuery
- dbStatistics
- dbFetch
- dbClearResult

# dbSendQuery calls:
- `paws.analytics::athena -> start_

[2021-01-25 11:15] DyfanJones commented on #132
As the statistics of the query has been returned (`Info: (Data scanned: 14.09 MB)`) the best culprit would be `dbFetch`. I believe it is `paws::storage::s3 -> get_object` causing this issue.  And a possible change to `paws.common`. I will update issue https://github.com/paws-r/paws/issues/371 accordingly.

[2021-01-25 16:20] davidkretch commented on #132
Thanks for diagnosing the bug, which we inappropriately introduced as a default timeout in the last release of `paws.common`. Sorry about that. The latest version (0.3.8) with a fix (no timeout) is now on CRAN.

[2021-01-25 16:21] DyfanJones commented on #132
@davidkretch thanks again. I will close this ticket.

[2021-01-25 16:21] #132 closed

[2021-01-26 14:09] OssiLehtinen opened #133 "Float/real type cannot be read"
Hi Dyfan,

it appears that noctua doesn't know how to interpret a query result with the type 'real'.

For example:
[code]
produces the error: "Error: Unknown shortcut: real"

Should AthenaToRDataType-function have mapping for 'real' included (instead of 'float')?

https://github.com/DyfanJones/noctua/blob/3b9d5d5494e425b8ff4673a2f18f0efdc1d6b484/R/DataTypes.R#L23
https://github.com/DyfanJones/noct

[2021-01-26 14:35] DyfanJones commented on #133
Hi @OssiLehtinen,

You are quiet right, this is an oversight. As I didn't realise that Athena only uses `float` in DDL but `real` in SQL functions like `select cast` (https://docs.aws.amazon.com/athena/latest/ug/data-types.html).

[2021-01-26 14:38] DyfanJones commented on #133
When float has been create in the tables ddl what does that column data type return as: `float` or `real`?

I could always just add `real` to the switch function to make sure `noctua` covers all bases :)

[2021-01-26 14:42] DyfanJones commented on #133
@OssiLehtinen is there any other Data types that are missing? I am not a 100% sure if binary, map, array and struct can be simply added without some extra thinking it through.

Potentially cast them as strings for the file readrs and then parse them using jsonlite 🤔

[2021-01-26 14:44] OssiLehtinen commented on #133
I'm afk atm but I think it returns real. Will have to check, but probably only tomorrow.

[2021-01-26 14:47] OssiLehtinen commented on #133
Didn't bump into issues with other baisc types.

Arrays etc  definitely don't work so I have been avoiding them. An interesting idea to read them in as strings and parse afterwards!

[2021-01-26 14:51] DyfanJones commented on #133
I will raise another ticket around the array data type, as I might not be able to get it working :P

[2021-01-26 16:08] #133 closed

[2021-01-26 16:09] DyfanJones opened #135 "Support datatypes: array, map, struct"
Currently `noctua` doesn't support AWS Athena data types `[array, map, struct]`

[2021-01-26 17:33] DyfanJones commented on #135
Branch `data-types` attempt to parse AWS Athena arrays, maps and row data types.

[code]

AWS Athena SQL Query Resource:
* [Converting Array Data Types](https://docs.aws.amazon.com/athena/latest/ug/converting-array-data-types.html)
* [Querying Arrays with Complex Types and Nested Structures](https://docs.aws.amazon.com/athena/latest/ug/rows-and-structs.html)
* [Using Arrays to Create Maps](https:/

[2021-01-26 17:39] DyfanJones commented on #135
What the above AWS Athena Queries return from AWS Athena:

[code]

[2021-01-26 17:49] DyfanJones commented on #135
Returning R formats when `convert_array = TRUE`

[code]

[2021-01-26 18:17] DyfanJones commented on #135
As Json can be parsed multiple time, it might be worth letting the user provide customer parsers if they don't like the default.

For example:
[code]

[2021-01-26 18:19] DyfanJones commented on #135
Another question: Should `convert_array` parameter be in `dbConnect`? Would it be better to have in `noctua_options` so that arrays can be parsed in multiple ways .... or even both?

[2021-01-27 15:14] DyfanJones commented on #135
Added support to more AWS Athena Data types: varbinary, ipaddress and json.

I am pretty happy with the binary method currently proposed in branch: `data-types`

[code]

The default binary data type conversion method, returns a list of raw vectors. This makes it really easy for R users to convert it back to what ever.

[code]

[2021-01-27 15:30] DyfanJones commented on #135
For completeness here is the dplyr method for above data.table:

[code]

For the dplyr approach a nested column of raw vectors is provide. To get the data users can do the following:

[code]
*note:* `sapply` can be used instead of `map_chr` in this example.

[2021-01-27 17:14] OssiLehtinen commented on #135
Wow, looks amazing! You sure work fast with these :)
A quick first note on your question: I would vote for having the convert_array parameter in noctua_options. This would allow switching without establishing a new connection (can be pretty slow with an extensive glue catalogue in rstudio). More importantly, this somehow feels related to the data.parser option, so having these in the same place wo

[2021-01-27 17:19] DyfanJones commented on #135
@OssiLehtinen been pondering on it all last night thinking it over :P I am guessing you would say the same for the `binary` and `bigint` parameters?

I am more than happy to have it in `noctua_options` as well to make it more flexible.

[2021-01-27 17:25] OssiLehtinen opened #136 "Feature idea/request: Optionally disable querying glue for the whole data catalog in rstudio when dbConnect:ing"
One speculative idea: would it make sense to allow a user to optionally skip reading in the glue catalog when running dbConnect in rstudio?

Of course it is often helpful to have, for example, the data catalog available for browsing in the connections pane in Rstudio.
However, when the catalog becomes very large, it can take pretty long to establish the connection (a minute or so in my case, I thi

[2021-01-27 17:30] DyfanJones commented on #136
I don't see why not. When you are out side of RStudio (i.e. jupyter lab) glue catalog isn't called.

[2021-01-27 17:58] DyfanJones commented on #135
Added parameters for `bigint`, `binary` and `json` conversion within `noctua_options`.

`noctua_options` allows for conversion methods to be changed with the bonus of not affecting other conversion methods if a user is only change 1 method. For example:

[code]
**Note** `convert_array` parameter has been rename for `json`. It feels more approperiate as `noctua` already has `bigint `conversion with

[2021-01-28 07:40] OssiLehtinen commented on #136
Great!

[2021-01-28 13:55] OssiLehtinen commented on #135
Looks great after some testing too!

It is a shame that athena returns the weirdly formatted stuff with structs and maps. We tried brainstorming a bit with some colleagues on how to parse those but couldn't come up with anything even remotely elegant.

One note on the bigint part:
If I use:

and query a table with big bigints (which overwflow the 32 bit ints), I get the following message and the c

[2021-01-28 14:02] DyfanJones commented on #135
Ah thanks @OssiLehtinen I am currently looking at how to improve performance for the currently conversion methods, possible some improvements with binary and json methods 😄 .

I will have a look at `fread` to see if we can force `integers`.

[2021-01-28 18:50] DyfanJones commented on #135
3 different methods for parsing a string of json objects.

[code]

[code]

method 1:
pros:
* Only calls json parser once
cons:
* Can be at risk of reaching memory limit for characters

method 2:
pros:
* simple to implement
cons:
* json parser is called for each json string within the character vector

method 3:
pros:
* safe implementation of method 1 as the character vector is split into chunks to

[2021-01-28 19:11] DyfanJones commented on #135
[code]

![json_parse_10](https://user-images.githubusercontent.com/23235152/106184822-f730e780-6199-11eb-8721-258a8ddcab9e.png)

![json_parse_10000](https://user-images.githubusercontent.com/23235152/106184852-fef08c00-6199-11eb-9041-b1a1eb881f3d.png)

![json_parse_1000000](https://user-images.githubusercontent.com/23235152/106186105-b5a13c00-619b-11eb-8a70-831289a9c8aa.png)

From these benchmarks

[2021-01-28 20:36] DyfanJones commented on #135
Quick benchmark with json parser and binary parser inplace

[code]

The slowest parse is converting "raw" string to actual raw. This is due to the raw conversion needing to be called on each string. If i don't believe it can be called in chunks.

Overall the conversions doesn't slow down reading in of the new data types that much.

[2021-01-29 07:46] OssiLehtinen opened #137 "Paginated glue responses not covered"
Hi Dyfan, one more for the week:

when noctua queries glue for a list of databases with get_databases(), the list is truncated in case the result gets paginated. Same with get_tables().

Not sure what is the underlying reason for this, but in one of our environments the first call to glue returns only the first 23 databases. For one reason or another setting the MaxResults parameter doesn't help h

[2021-01-29 09:29] DyfanJones commented on #137
Sorry @OssiLehtinen  I am not a 100% sure what is the issue. Can you get me an example of what is happening? Is the issue not all databases and tables aren't being returned. Or table names are getting truncated?

[2021-01-29 10:53] OssiLehtinen commented on #137
Ah sorry for being unclear. The issue is that all databases and tables are note returned. For example, the connection panel in Rstudio shows only the first 23 databases, even though many more exist in the catalog.

[2021-01-29 10:59] DyfanJones commented on #137
Ah I see :) i will have a look into it. Strange it is only displaying that top 23 data bases, if i remember correctly the glue call should return a 1000 🤔.

But you are right it does need the Next token as it won't return everything.

Just thinking out loud (don't know if it is true so don't quote me 😆) is there a restriction on the rstudio connection tab? As in the number of databases and tables

[2021-01-29 11:20] OssiLehtinen commented on #137
Yeah it is pretty strange, and I don't quite understand why we're getting just the first 23 databases (even if we explicitly set MaxResults = 1000L in the paws function call). 23 is a pretty strange number of results to return.

It shouldn't be an issue with rstudio as the issue is there also with a direct call to glue$get_databases() and in an R session in a terminal.

BTW, boto3 has the same iss

[2021-01-29 11:25] DyfanJones commented on #137
Interesting, i guess i need to make 24 temporary databases in my athena just to see this happening :D hahaha

[2021-01-29 11:37] OssiLehtinen commented on #137
Haha, maybe you would see it, maybe not. The strange thing is that this happens only in one of our environments/accounts. One specific feature there is that we have quite a lot of content shared via lake formation to that account, but the 'breaking point' of the database list doesn't seem to correlate with anything.

[2021-01-29 11:42] DyfanJones commented on #137
does this happen in `dbGetTables` and `dbListTables`. I think i will need to update these methods accordingly

[2021-01-29 11:57] OssiLehtinen commented on #137
Yes, the same issue there. Must be everywhere where glue$get_databases() is used.

[2021-01-29 12:01] DyfanJones commented on #137
Interesting, and does this only happen when you are working in that environment?

[2021-01-29 12:06] OssiLehtinen commented on #137
Yes, only in there.

[2021-01-29 12:11] DyfanJones commented on #137
hmmm interesting. Are the permissions to aws glue the same in that environment compared to your others?

[2021-01-29 12:13] DyfanJones commented on #137
Or is thats glue catalogue sync up correctly with your others?

[2021-01-29 12:17] OssiLehtinen commented on #137
Well there certainly could be something weird going on especially with the permissions granted through lake formation, but haven't spotted anything relevant so far. And when we do another get_databases() query with NextToken we get results for the rest of the tables, so no fundamental problem with permissions in my opinion.

I will let you know if we make some discoveries about what might cause th

[2021-01-29 12:21] DyfanJones commented on #137
Well next token needs to be added to these functions. Hopefully this will fix it going forward :) very interesting problem as i haven't come across it before :)

[2021-01-29 12:44] OssiLehtinen commented on #137
Perhaps a helper like this could be handy?:

[code]

The idea would be that you can give it different functions such as glue$get_databases  or glue$get_table as an argument and the function will handle the looping. Some assumptions are made about the structure of the query results. Shouldn't make much overhead if NextToken is empty after the first call.

[2021-01-29 12:58] DyfanJones commented on #137
@OssiLehtinen thanks :)  I will have a look to see how this works in practise :D

[2021-01-29 14:28] DyfanJones commented on #135
I think I have thought of away to improve the speed of the raw conversion:

[code]

**method 1:**
This method applies raw conversion on each element of the list using an lapply

**method 2:**
This method applies raw conversion on the list (so it is only called once). Then the raw vector is split back into the correct list format using a for loop.

**method 3:**
This method applies raw conversion o

[2021-01-29 14:32] DyfanJones commented on #135
![raw_conversion](https://user-images.githubusercontent.com/23235152/106287363-990a1000-623e-11eb-9384-a7ddaf3b6f56.png)

I am really happy to see that this method of converting all to raw the splitting the raw vector later is proving to the fastest. From this `noctua` will use method 4.

[2021-01-29 16:12] DyfanJones commented on #135
Merged PR #138

[2021-01-29 16:12] DyfanJones commented on #136
This has been merge with PR #138

[2021-01-29 16:12] #136 closed

[2021-01-29 16:16] DyfanJones commented on #135
Not a 100% sure what to do with data.table and bigint as I can't find a method to force integer.

Possibly will just document this behaviour so users are aware of what will happen if they cast a big integer as just integer when integers will simply fail.

[2021-02-01 08:40] OssiLehtinen commented on #135
Sounds reasonable. It also helps that data.table alerts the user if casting fails.

[2021-02-01 12:09] DyfanJones commented on #137
@OssiLehtinen are you available to test if branch `aws-table-list` fixes the issue you are coming across in your environment?

[code]

This works in my environment but I would like to make sure it is fixed in yours :)

[2021-02-01 12:13] DyfanJones commented on #137
Thanks for this :) I have created 2 helper functions for the glue query as I wanted to format the returning response from AWS. This is to help with reducing the number of loops required to parse the named lists, and help with performance :)

[2021-02-01 14:20] OssiLehtinen commented on #137
Everything seems to work correctly now. The connections tab shows all the databases and also dbListTables and dbGetTables show the full list now. So, great work again, thanks!

p.s. the rstudio_conn_tab = F option really comes handy, as reading the whole glue catalog is even slower now (obviously it takes more time to actually read in the complete catalog :) )

[2021-02-01 14:28] DyfanJones commented on #137
You must have a fairly large glue catalogue for it to be fairly slow :D . From the R side of things it should be nice and fast when parsing the lists 😄  (Well as fast as I know how currently 😋)

🤔 How is `dbGetTables` or `dbListTables`? Do they run slow-ish?

[2021-02-01 15:25] OssiLehtinen commented on #137
Yeah, it's some 1200 tables or so at the moment. But I think using Lake Formation is the final nail in the coffin (quite a few of those tables are shared from other accounts on this specific account, where things are especially slow).

I totally agree the slowness shouldn't be an R side issue. I think I will raise an issue with AWS about it.

[2021-02-01 15:27] OssiLehtinen commented on #137
Oh, dbListTables and dbGetTables are equally slow. Also 'select * from information_schema.tables'.

[2021-02-01 15:48] DyfanJones commented on #137
@OssiLehtinen Thanks for giving an update on this 😄

[2021-02-02 16:31] DyfanJones commented on #137
PR #139 fixes this issue 😄

[2021-02-02 16:31] #137 closed

[2021-06-17 15:08] geotheory commented on #64
Where does `pkg_method` come from?

[2021-06-17 15:56] DyfanJones commented on #64
`pkg_method` function is created:
https://github.com/DyfanJones/noctua/blob/1a4b0009e795206994bdd794b42db5c30d2a5d21/R/utils.R#L168-L175

[2021-07-23 16:52] ellmanj opened #149 "grepl support for use with dbplyr"
There seems to be no implementation of `grepl` in the `sql_translator` for use with dbplyr.

For example:
[code]

Instead I expected the output to be something like this:
[code]

Other backends for dbplyr include support for `grepl`, e.g. [here](https://github.com/tidyverse/dbplyr/blob/master/R/backend-postgres.R#L47) is the postgres implementation.

[2021-07-23 19:50] DyfanJones commented on #149
Ah sorry about that, I will take a look at it this weekend :)

[2021-07-23 20:11] ellmanj commented on #149
Thank you for the quick response! Let me know if there is anything I can do to help.

[2021-07-23 20:15] DyfanJones commented on #149
Athena can utilise these Pestro Regular Expression Functions https://prestodb.io/docs/current/functions/regexp.html. I wonder if it would beneficial to map them to R equivalents. 🤔

[2021-07-23 20:19] DyfanJones commented on #149
Presto has a nice function `regexp_like` which seems to be fairly close to R's `grepl` and `regexpr`.

[code]

I wonder if grepl should be mapped to `like` and `regexr` should be mapped to `regexp_like`. The pattern utilised is very much what you would used when using grepl in R.

[2021-07-23 21:23] ellmanj commented on #149
Hmm, yeah seems like we could use `regexp_like` here.

In my current project I don't have a use-case for `regexpr`, and I don't see an implementation for it in other dbplyr backends such as Postgres. I wonder if that's because it's not as applicable in the context of SQL queries since it returns information about the location of the matching text and it's length. Whereas `grepl` just returned a bo

[2021-07-23 22:34] DyfanJones commented on #149
hi @ellmanj,

I have an initial implementation. I have also thrown in support for stringr and lubridate functions:

[code]

[code]

Please try it out and let me know.

[2021-07-23 22:37] DyfanJones commented on #149
I'm not a 100% sure around performance. Might need to do a little digging. However as a side note you can use sql like in dplyr using the following:

[code]

hope that gives another method you can use (%like% is already supported if you wish to use it now 😄 )

[2021-07-24 02:43] ellmanj commented on #149
Wow, thanks for getting on this so fast. I tried it out and it looks good to me!

[2021-07-26 21:37] DyfanJones commented on #149
@ellmanj PR #150  has now been merged to master. I will update `RAthena` and then push the updates to the cran. In the mean time if you need to the fix please install github version:
[code]

[2021-07-26 21:37] #149 closed

[2021-07-27 13:39] DyfanJones commented on #149
@ellmanj `noctua` and `RAthena` has been release to the cran. It should be accessible from the cran in the next couple of days

[2021-08-02 16:03] ellmanj opened #153 "dbplyr summarise translation to SQL"
Hello again! I've found what I think is another issue around translating to SQL.

When I try to use the `summarise` function to get the median value for a column, I get the following error.
[code]

Here is the SQL being executed:
[code]

So I believe the issue is that `PERCENTILE_CONT` is not a valid Presto function. Perhaps we could use one of the `approx_percentile` functions [here](https://pres

[2021-08-02 22:29] DyfanJones commented on #153
Hi @ellmanj thanks for highlighting this issue. I will check this out :)

[2021-08-03 09:29] DyfanJones commented on #153
So `percentile_cont` is coming from [dbplyr::base_win](https://github.com/tidyverse/dbplyr/blob/47e53ce30402d41ae4b38c803de12e63d64a9b6c/R/backend-.R#L379-L380),  [dbplyr::base_agg](https://github.com/tidyverse/dbplyr/blob/47e53ce30402d41ae4b38c803de12e63d64a9b6c/R/backend-.R#L297-L298) and [dbplyr::base_no_win](https://github.com/tidyverse/dbplyr/blob/47e53ce30402d41ae4b38c803de12e63d64a9b6c/R/ba

[2021-08-03 10:19] DyfanJones commented on #153
Branch ` sql_tran_median` seems to have fixed the issue:

[code]

[code]

@ellmanj  Please let me know if this fixes the issue.

[2021-08-03 14:23] ellmanj commented on #153
thanks @DyfanJones! I tried it out. It works if I don't supply the `na.rm` parameter to the `median` function. But in my current project in some places we do supply that parameter.

Example:
[code]

Any thoughts?

[2021-08-03 14:31] DyfanJones commented on #153
@ellmanj Ah thanks, I have that behaviour missing. I will add it so that it mimics `dbplyr`

[2021-08-03 15:41] DyfanJones commented on #153
@ellmanj add to parameter `na.rm` to `median` sql_translate_env`. Please have a go.

[code]

[2021-08-03 17:00] ellmanj commented on #153
@DyfanJones that worked! Thanks for the quick turnaround on this.

[2021-08-04 10:27] DyfanJones commented on #153
@ellmanj PR #154 has been merged to master. Will release to the cran roughly on the 27/08 due to cran policy of monthly releases.

[2021-08-04 10:27] #153 closed

[2021-09-09 14:22] DyfanJones commented on #153
Will push these changes to cran tomorrow. Sorry around the delay I had a short holiday so these changes got delayed abit

[2021-09-09 14:43] ellmanj commented on #153
No worries at all. Thank you!

On Thu, Sep 9, 2021, 9:23 AM Larefly ***@***.***> wrote:

[2021-09-16 16:42] DyfanJones opened #156 "list to Json string improvements"
Currently noctua just collapses list using `paste`. This is incorrect as it Athena won't be able to interpret it, for example.

[code]

[2021-09-16 16:43] DyfanJones commented on #156
To over come this can utilise json parser.

Possible solutions:
- jsonlite
- jsonify
- rcppsimdjson

[2021-09-16 16:44] DyfanJones commented on #156
[code]

[2021-09-16 16:45] DyfanJones commented on #156
Need a solution batch method for jsonlite for a fair comparison

[2021-09-16 17:18] DyfanJones commented on #156
[code]

If possible should switch from jsonlite to jsonify. will need batch method for writing table out to file but current method is pretty fast.

[2021-09-21 13:42] DyfanJones commented on #156
Possible alternatives using jsonlite.

[code]

[code]

[code]
<img width="726" alt="Screenshot 2021-09-21 at 15 39 38" src="https://user-images.githubusercontent.com/23235152/134181178-db571475-79fc-4063-9c03-cc19bdbb2f46.png">

These methods seem promising. Plus if a solution with jsonlite could be found then the overall dependencies would be able to be kept low :)

[2021-09-22 08:27] DyfanJones commented on #156
[code]

[code]

<img width="740" alt="Screenshot 2021-09-22 at 10 26 43" src="https://user-images.githubusercontent.com/23235152/134309227-a2477b31-9b31-43ea-a307-296cd2fbe7c0.png">

Even with the new jsonlite functions it looks like jsonify is still faster.

[2021-09-22 09:24] DyfanJones commented on #156
[code]

[code]
<img width="885" alt="Screenshot 2021-09-22 at 11 23 22" src="https://user-images.githubusercontent.com/23235152/134318088-9f6e29b5-8af6-4202-b139-5502d21577f0.png">

By increase the pagesize with `jsonlite::stream_out` there doesn't seem to be any performance improvements.

[2021-09-22 14:44] #156 closed

[2021-09-22 14:45] DyfanJones commented on #153
Sorry the release was delayed by #156 and how to best implement it. I will update RAthena and continue with the release.

[2021-09-22 15:23] ellmanj commented on #153
Ok thanks for the update.

[2021-09-23 15:37] DyfanJones commented on #153
noctua v-2.2.0 has now been released to the cran, thanks for your wait :D

[2021-10-04 17:24] DyfanJones opened #160 "Support AWS Athena UNLOAD"
Aws Athena support [UNLOAD](https://docs.aws.amazon.com/athena/latest/ug/unload.html) which allows Athena to write out different file type i.e. parquet.

This will allow noctua/RAthena to utilise AWS Athena Unload queries and read the parquet format similar to how  `AWS Data Wrangler` currently does (**NOTE:** AWS Data Wrangler wraps queries with CTAS (https://docs.aws.amazon.com/athena/latest/ug/

[2021-10-04 18:07] DyfanJones commented on #160
Set up awswrangler example for `noctua` benchmarks

[code]

Initial benchmark testing:

[code]

[2021-10-04 20:43] DyfanJones commented on #160
When caching is enable extra time performance is gained:

[code]

[2021-10-04 20:46] DyfanJones commented on #160
The unload method does come with some down side. Possibly create a vignette and document pros and cons of both methods, so that users are fully aware of what to expect.

[2021-10-05 12:36] DyfanJones commented on #160
Benchmark running on sagemaker `ml.t3.xlarge` instance:

[code]

[2021-10-05 13:22] DyfanJones commented on #160
Comparison to `awswrangler`

[code]

Results:

csv:
seconds: 189

ctas:
seonds: 92

ctas with categories:
seconds: 35.9

[2021-10-06 08:59] DyfanJones opened #162 "Swap to Github Actions instead of travis"
Currently travis ci has broken for noctua and RAthena. Instead of fixing pipeline, will swap to github actions instead.

[2021-10-26 11:28] DyfanJones opened #167 "Release noctua 2.3.0"
Prepare for release:

- [x] Check current [CRAN check results](https://cran.rstudio.org/web/checks/check_results_RAthena.html)
- [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
- [x] [urlchecker::url_check()](https://github.com/r-lib/urlchecker)
- [x] devtools::check_rhub(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] devtools::check_win_

[2021-10-29 10:15] #167 closed, assigned to DyfanJones

[2021-11-04 18:10] tyner opened #170 "The 'statement' argument to dbGetQuery and dbSendQuery methods isn't exposed in older versions of R"
### Issue Description
The 'statement' argument to dbGetQuery and dbSendQuery methods isn't exposed in older versions of R, resulting in an error that it cannot find the 'statement' object.

  ### Reproducible Example
First, install version 2.3.0 of the noctua package under R version 3.4.4. Then take a look at
[code]
It will say:
[code]
and
[code]

Whereas, under R version 3.5.0 (and later), the me

[2021-11-04 20:27] DyfanJones commented on #170
Hi @tyner, thanks for identify this issue. I will look into this to see if it is a bug within the package.

[2021-11-04 20:59] DyfanJones commented on #170
@tyner just added a fix to the current PR branch `bump-dev`.  I have tested with R-3.3.3 so I am hoping it works for you 😄 Please let me know.

[code]

[2021-11-04 23:31] tyner commented on #170
Thanks for the quick turnaround! I ran into a bit of a snag when it asked about upgrading `xml2`. I tried two different ways and got the same error each time. I also tried upgrading to the latest version of `withr`, which didn't resolve the issue. Alternatively, is there a way to directly download a ``.tar.gz`` version of the updated ``noctua`` package?
[code]
[code]
[code]
[code]

[2021-11-05 07:56] DyfanJones commented on #170
Intersting,  remotes install worked for me. However if you have all the dependencies you can try

[code]

Note if you don't have the dependencies this will fail.

[2021-11-05 14:33] tyner commented on #170
That did the trick. I have tested the new version of `noctua` under a version of R prior to 3.5.0 and it works splendidly.

I am still curious to learn if R-core had intentionally made `setMethod` more robust in this regard for version 3.5.0, or if the observed behavior was a happy accident associated with some other change. I may inquire about that on the mailing list.

In any case, thank you Dyf

[2021-11-05 17:11] DyfanJones commented on #170
No worries, I will push these changes to cran next week. If you need them sooner please let me know.

[2021-11-13 17:13] ramnathv commented on #96
Thanks for this package @DyfanJones. I ran into this error and turned caching on as per documentation. But now I run into a different error when querying Athena. Any thoughts? I can open a different issue if it is helpful.

[code]

[2021-11-13 17:41] DyfanJones commented on #96
hi @ramnathv are you able to provide the code that produced the error so i can try to replicate it :D

[2021-11-15 10:35] DyfanJones commented on #96
hi @ramnathv I have managed to replicate the error you are coming across I will raise another issue so I can keep track of it, thanks for point this issue out 😄 .

[2021-11-15 10:40] DyfanJones opened #171 "Caching issue"
Caching fails when statement is in SQL class type:

[code]

<sup>Created on 2021-11-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

This behave also persists when using dplyr lazy evalution method `tbl`.

Thanks to @ramnathv for identifying this issue in https://github.com/DyfanJones/noctua/issues/96#issuecomment-968102412 .

[2021-11-15 11:09] DyfanJones commented on #171
PR #172 seems to fix issue. @ramnathv  can you double check branch `cache_issue` fixes your initial issue.

[code]

Working example:

[code]

<sup>Created on 2021-11-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Looks like repeat queries are being used multiple times, which is great news :D

[2021-11-24 13:51] DyfanJones opened #174 "Method to set unload at a package level"
Currently `noctua` supports `AWS Athena unload` method through adhoc setting of parameter `unload` in `dbGetQuery` , `dbSendQuery` and `dbExecute`.

Unfortunetly this means that `dplyr `functionality doesn't benefit from this feature. By having a method to set `unload = TRUE` on a package level then `dplyr` can take advantage of this feature with little implementation on `dplyr` side of things.

[2021-11-24 14:33] DyfanJones commented on #174
Implementation seems to be working nicely :D

[code]

[2021-11-24 17:36] DyfanJones opened #176 "Release noctua 2.4.0 on to cran"
Prepare for release:

- [x] Check current CRAN check results
- [x] Polish NEWS
- [x] urlchecker::url_check()
- [x] devtools::check_rhub(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] devtools::check_win_devel()
- [x] rhub::check_for_cran(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] Update cran-comments.md

Submit to CRAN

[2021-11-24 17:48] #174 closed

[2021-11-26 16:42] DyfanJones commented on #171
This has now been pushed to the cran in release 2.4.0

[2021-11-26 16:42] #171 closed

[2021-11-26 16:42] DyfanJones commented on #170
This has now been pushed to the cran in release 2.4.0.

[2021-11-26 16:42] #170 closed

[2021-11-29 14:11] #176 closed

[2022-01-13 11:02] vhpietil opened #178 "Prevent Noctua from printing Data Scanned -information"
Is there a way to prevent Noctua from printing Data scanned information?

[2022-01-13 11:22] DyfanJones commented on #178
Currently no, it was an previous feature request so it was added, however I should of added a method to make it quiet. Happy to add it in if you like :)

[2022-01-13 11:36] vhpietil commented on #178
I would be very happy if there was an option to switch it off instead of using suppressMessages in every query :)

[2022-01-13 11:37] DyfanJones commented on #178
So something like this:

[code]

[code]

<sup>Created on 2022-01-13 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

Currently not sure to have verbose set to `FALSE` for default or have the user switch to FALSE if they don't like the extra information.

[2022-01-13 11:45] vhpietil commented on #178
Something like that would be nice

[2022-01-13 12:34] DyfanJones commented on #178
Should all information message be optionally turned off? 🤔 Would make it consistent across the package. If that is the case then can leave the default package verbose as `TRUE` and let the user turn it off.

[2022-01-13 12:56] vhpietil commented on #178
I guess it could be all information messages or none.

On Thu, Jan 13, 2022 at 2:34 PM Larefly ***@***.***> wrote:

[2022-01-17 10:04] DyfanJones opened #180 "Release noctua 2.5.0"
Prepare for release:

- [x] Check current CRAN check results
- [x] Polish NEWS
- [x] urlchecker::url_check()
- [x] devtools::check_rhub(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] devtools::check_win_devel()
- [x] rhub::check_for_cran(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] Update cran-comments.md

Submit to CRAN

[2022-01-17 12:31] DyfanJones commented on #180
* checking for detritus in the temp directory ... NOTE
Found the following files/directories:
  'lastMiKTeXException'

https://builder.r-hub.io/status/noctua_2.5.0.tar.gz-a1c4f3a7f7744094a278070ec5f37807

[2022-01-17 17:09] DyfanJones commented on #178
Closing this ticket as version 2.5.0 has been pushed to the cran

[2022-01-17 17:09] #178 closed

[2022-01-20 09:41] DyfanJones commented on #180
RAthena unit test failing on the cran: https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-fedora-clang/noctua-00check.html

Unit test helper function `output_test_data(size, test_file)` used to create test data is causing the issue.

Cran maintianers have asked to have test using the R-devel or to set environmental variables.

[2022-01-20 09:41] DyfanJones commented on #180
Prepare for release:

- [ ] Check current CRAN check results
- [ ] Polish NEWS
- [ ] urlchecker::url_check()
- [ ] devtools::check_rhub(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [ ] devtools::check_win_devel()
- [ ] rhub::check_for_cran(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [ ] Update cran-comments.md

Submit to CRAN

[2022-05-16 16:18] DyfanJones opened #184 "Release noctua 2.6.0"
Prepare for release:

- [x] Check current CRAN check results
- [x] Polish NEWS
- [x] urlchecker::url_check()
- [x] devtools::check_rhub(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] devtools::check_win_devel()
- [x] rhub::check_for_cran(env_vars=c(R_COMPILE_AND_INSTALL_PACKAGES = "always", LIBARROW_BINARY="true"))
- [x] Update cran-comments.md

Submit to CRAN

[2022-05-19 15:19] DyfanJones commented on #184
`rhub::check_for_cran` is currently hanging at the moment.

[2022-05-25 16:29] #184 closed